@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'VT323', monospace;
    font-size: 60px;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

/* CANVAS */

.canvas {
    width: 400px;
    height: 400px;
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 1px solid #ddd;
    margin-top: 10px;
}

.grid-item {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

/* TOOLBAR */

button {
    display: block;
    margin: 25px 0px;
    background-color: rgb(4, 128, 230);
    color: white;
    border: 0px;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    font-size: large;
    transition: all 0.05s;
}

button:hover {
    transform: scale(1.2);
}

span {
    margin-bottom: 5px;
    font-size: large;
}

.toolbar {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    display: block;
    margin: 0px 5px;
    padding-top: 1px;
    width: 100%;
}

button.active {
    transform: scale(1.2);
}

#color-input {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.05s;
}

#color-input::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}

#color-input::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}

#color-input:hover {
    transform: scale(1.1);
}

/* FOOTER */
img {
    width: 30px;
    margin: 12px;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    color: black;
    font-size: 20px;
    justify-self: flex-end;
    margin-top: 65px;
}

.fa-github {
    color: var(--primary-light);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}